{% extends 'base.html' %}
{% load static %}
{% block title%}
About
{% endblock %}

{% block content%}


<div class="p-3 mt-4">
   
      
        <h4 class="text-center mb-4 text-secondary text-muted">--About Hospital--</h4>
         <h1>A Warm Welcome to City  Hospital</h1>
          <h5  style="color: rgb(6, 116, 65);font-weight: 700;"> Advancing healthcare for everyone, every day, to
            keep our promise to the community</h5>
            <p>City hospital had a humble beginning in 2001, intending to provide affordable but quality healthcare to people in Ernakulam and the surrounding regions. It is the vision  of Sri. P. M Sebastian, Chairman to serve the people of the community with multispecialty, well-equipped hospital.</p>
             <p>Kochi being the commercial capital of the state and the associated progress in Ernakulam
                 district the management of Welcare hospital felt the need to establish a hospital of 
                 international standards and world-class amenities. The vision of the new Welcare hospital
                  was thus born. A multispeciality healthcare facility with 300 beds in two blocks with state
                   of the art medical technology and a team of dedicated medical professionals.</p>
            <p>City Hospital is dedicated to the service of the people of Ernakulam and beyond.
                 The Hospital has positioned itself to attract medical tourism with its world-class
                  infrastructure, state of the art medical technology and dedicated team of doctors,
                   nurses and paramedical staff who strive to make the hospital a Center of Excellence
                 in all its specialists with its multidisciplinary approach & evidence-based medical practice.</p>
        
      

  </div>

   <div class="p-3 bg-light">
    <h3 style="color: rgb(6, 116, 65); font-weight: 700;">Infrastructure facility</h3>
    <p>City Hospital has a unique combination of the best in class technology, put to use by the best names in the professional circles to ensure world-class health care to all patients. Spread on 2 acres of land, with a capacity of 300 beds, Welcare Hospital is one of the largest tertiary care private hospitals in the city. The outpatient services are spread on two floors with patient friendly atmosphere. The hospital has 6 state-of-the-art well equipped modular operation theatres with gas scavenging system to ensure patient safety. All the Operation Theatres are fitted with best in class control panels, pendants, operating lights, anaesthesia work stations and advanced information management system.</p>
     <p>The Endoscopy / ERCP unit provides high-quality diagnostic and therapeutic endoscopic services. It is equipped with state-of-the-art ERCP & Endoscopy equipments, which includes high-definition endoscopes, digital imaging, computer generated reports and high end monitors.</p>
    <p>The Hospital has an ICU capacity of 55 beds in different intensive care units viz Medical, Surgical, Cardiac, Paediatrics and Neonatology. All critical care beds are in the close vicinity of the Operation Theatre complex for easy accessibility and continuity of care. Each Critical care unit is equipped with high end patient monitoring devices and ventilators. A high tech Cath lab (IGS 5) with digital imaging, 128 Slice CT, 1.5 Tesla MRI are the other features of city Hospital.</p>
    </div>

    <div class="text-bg-primary p-4  mb-5  bg-body mx-8 my-5 w-70 ">
    <h3 style="color: rgb(6, 116, 65); font-weight: 700;">CEO’s Message</h3>
    <p>Thank you for taking the time to learn about us on this website. On behalf of the entire Hospital, 
      I would like to welcome you to experience our ultimate service and exemplary care.</p>
      
     <p>Over the last few years, we have spent time meeting with patients, their families and physicians
       to design a modern healthcare service. Also, It is the perspective of Mr. P. M. Sebastian, our Chairman, 
       to provide the best health care services to the public by establishing a well-equipped, multispecialty hospital. 
       Today I am proud to say that we have achieved a large part of this objective. We have designed everything keeping 
       the patient in mind – the location of the hospital, serene environment, the spacious interiors, the modern 
       conveniences and the advanced facilities. We believe that all these factors help patients feel relaxed and
        comfortable, leading to quicker healing and recovery, reflecting our motto ‘Your Health Our Concern’.</p>

   <p>The Hospital is committed to maintaining highest standard of care and respond to the needs of the society in a 
    compassionate manner. Our objective is to provide highest quality of patient care and safety to make our patient 
    feel that they are in the best healthcare setup. Hence, we relentlessly strive hard to ensure delivery of quality 
    care with the best team of medical professionals, robust infrastructure and efficient systems.</p>
    </div>

    <div class="bg-light p-4 shadow  mb-5  bg-body rounded mx-8 my-8 w-60 text-center ">
        <h3  style="color: rgb(6, 116, 65); font-weight: 700;">Administration Team</h3>
        
        <div class="card text-center m-2" style="width: 18rem; display:inline-block;">
            <img src="{% static '/images/ceo.jpg' %}" class="card-img-top" alt="..." height="200">
            <div class="card-body">
              <h5 class="card-title">Mr.Sanil Kumar E R</h5>
              <p class="card-text">Ceo & Co-Founder</p>
              
            </div>
          </div>

          <div class="card text-center m-2" style="width: 18rem; display:inline-block">
            <img src="{% static '/images/medical directior.jpg' %}" class="card-img-top " alt="..." height="200">
            <div class="card-body">
              <h5 class="card-title">Mr. Joshy Joseph</h5>
              <p class="card-text">Medical Director</p>
              
            </div>
          </div>

          <div class="card text-center m-2" style="width: 18rem;display:inline-block">
            <img src="{% static '/images/medical superintendent.jpg' %}" class="card-img-top" alt="..." height="200">
            <div class="card-body">
              <h5 class="card-title">George Sebastian</h5>
              <p class="card-text">medical superintendent</p>
             
            </div>
          </div>
         
          
       
    </div>
{% endblock %}